<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="companyname-logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
		<div class="flex-item">
			<div class="template-navigation">

				{{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}

			</div>
		</div>

	</div>
</header>
